@media (min-width: 600px){
      header{
            .header__logo{
                  width: 4rem;
            }
            .header__nav{
                  display: block;
                  order: auto;
                  width: auto;
                  .header__nav--list{
                        display: flex;
                        flex-direction: row;
                        width: 72vw;
                        justify-content: space-evenly;
                  }
            }
            #header__nav--burger{
                  display: none;
            }
      }
      section{
            width: 800px;
            width: auto;

      }
}