@font-face {
  font-family: "Inter";
  src: url("../font/Inter-VariableFont.ttf");
}
:root {
  --white: #ffffff;
  --gray-light: #f5fbfc;
  --gray-dark: #08090a;
  --green: #35b8be;
  --green-dark: #1b9097;
  --green-light: #f5fbfc;
  --blue-dark: #546285;
}

html {
  font-size: 20px;
}

* {
  font-family: "Inter" !important;
  color: var(--gray-dark);
}

body {
  -webkit-animation-name: bodyanimation;
          animation-name: bodyanimation;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.logonavbar {
  height: 3rem;
}

.nav__div .nav__div__ul {
  width: 100%;
  justify-content: center;
}

.navbar-toggler, .collapsed, button, button:active, button:focus {
  border: none !important;
  box-shadow: none !important;
}

section {
  margin: 1.5rem;
}
section .section__button {
  background-image: url("../img/button_wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--green);
  color: var(--gray-light);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
section .section__button:focus {
  -webkit-animation-name: animbutton;
          animation-name: animbutton;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
section .section__button:not(:focus) {
  -webkit-animation-name: animbutton2;
          animation-name: animbutton2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
section .section__flex {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
}
section .section__flex img {
  max-width: 100%;
  width: 20rem;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
section .section__flex img:hover {
  -webkit-animation-name: hoverimg;
          animation-name: hoverimg;
}
section .section__flex img:not(:hover) {
  -webkit-animation-name: hoverimg2;
          animation-name: hoverimg2;
}
section .section__flex p {
  max-width: 100%;
  width: 25rem;
  text-align: center;
}
section .section__child {
  margin: 5rem 0;
  margin-top: 1rem;
}
section h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;
}
section h2 .h2__color {
  color: var(--green-dark);
}
section p {
  color: var(--blue-dark);
  line-height: 170%;
}
section .section__cards__parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section .section__cards__parent .card {
  border: none;
  text-align: center;
}
section .section__cards__parent .card img {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-name: hoverimg2;
          animation-name: hoverimg2;
}
section .section__cards__parent .card img:hover {
  -webkit-animation-name: hoverimg;
          animation-name: hoverimg;
}
section .section__cards__parent .card span.card_title {
  font-weight: 600;
}

footer {
  background-color: var(--green-light);
  padding: 2rem;
  font-weight: 600;
}
footer p:nth-child(1) {
  color: var(--green-dark);
  padding-bottom: 2rem;
}
footer p:nth-child(2) {
  color: var(--blue-dark);
}
footer p:nth-child(2) a {
  color: var(--blue-dark);
  text-decoration: none;
}
footer p:nth-child(2) a:nth-child(1) {
  margin-right: 3rem;
}

@-webkit-keyframes animbutton {
  from {
    background-color: var(--green);
  }
  to {
    background-color: orange;
  }
}

@keyframes animbutton {
  from {
    background-color: var(--green);
  }
  to {
    background-color: orange;
  }
}
@-webkit-keyframes animbutton2 {
  from {
    background-color: orange;
  }
  to {
    background-color: var(--green);
  }
}
@keyframes animbutton2 {
  from {
    background-color: orange;
  }
  to {
    background-color: var(--green);
  }
}
@-webkit-keyframes hoverimg {
  from {
    filter: blur(0) sepia(0%);
  }
  to {
    filter: blur(1px) sepia(100%);
  }
}
@keyframes hoverimg {
  from {
    filter: blur(0) sepia(0%);
  }
  to {
    filter: blur(1px) sepia(100%);
  }
}
@-webkit-keyframes hoverimg2 {
  from {
    filter: blur(1px) sepia(100%);
  }
  to {
    filter: blur(0) sepia(0%);
  }
}
@keyframes hoverimg2 {
  from {
    filter: blur(1px) sepia(100%);
  }
  to {
    filter: blur(0) sepia(0%);
  }
}
@-webkit-keyframes bodyanimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes bodyanimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}/*# sourceMappingURL=style.css.map */